* {
    margin : 0;
    padding: 0;
}

.main {
    max-width : 900px;
    margin    : 0 auto;
    margin-top: 50px;
}

@media screen and (max-width: 700px) {
    .main {
        margin-top: 0;
        padding   : 0 !important;
        min-height: 100vh;
    }
}